*{
  font-family: Verdana, sans-serif;
}

.App {
  text-align: center;
  background-color: rgb(241, 245, 245);
  min-height: 100vh;
  /* position: sticky;
  height: 120%;
  background-color: rgb(241, 245, 245); */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}